/* NAVIGATION */
body {
	padding-top: 3em;
}

div.navbar-collapse {
	justify-content:flex-end;
}
nav.navigation {
	background-color: #0292dc;
	color: white;
}
nav.navigation a {
	color: #fff;
}

nav.navbar a{
	color: #fff!important;
}

nav.navbar button {
	border-color: #fff!important;
}

p {
	font-family: 'Raleway', sans-serif;
	line-height: 1.5;
}

.plams-container h5 {
	color: #25365d;
	font-size: 1.75em;	
}

/*  HEADER */

div.relative {
	position: relative;
}

/*  La propiedad CSS z-index indica el z-order de un elemento y 
sus descendientes. Cuando varios elementos se superponen, z-order 
determina cuales cubren a otros. Un elemento con mayor z-index 
generalmente cubre a otro menor
el menor indice va hasta abajo*/

div.banner-img {
	width: 100%;
	height:35em;		
	background: linear-gradient(rgba(255, 255, 255, 0.00), rgba(255, 255, 255, 1.00)), rgba(255,255,255,0.55) url(../img/mountains.jpg) no-repeat center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

/*  Product photo */
section.plans {
	background-color: #f7f9fb;
	padding: 3em 0;
}

img.macbook-features {
	width: : 100%;
	max-width: 3oem;
	padding: 0 3em;
}

div.features h2 {
	text-align: center;
	padding: 0.35em 0;
}

div.features img {
	margin: 0 auto;
	display: block;
}

div.price {
  border: 16px solid aliceblue;
	padding: 3em;
	text-align: center;
  background-color:#fff;

}


.price h4,
.price h5,
.price p {
	display: block;
}

strong.price-figure {
	font-size: 2em;
}

div.banner-img {
	text-align: center;
	padding-top: 4em;
}

button.enyo-btn {
	border-radius: 50px;
	color: #fff;
	background-color: #25365d;
}

div.download-it {
	padding: 1.75em 1.75em 3em 1.75em;
}

div.download-it h2 {
	margin-top:1.75em;
}

div.macbook {
	display:flex;
	padding-top: 3em;
	align-items: center;
}

div.download-it li,
div.download-it ul {
	list-style-type: none;
	padding: 0;
}

div.media {
	padding: 1em;
}

div.media img {
	width:50px;
}

div.media img.phone {
	width:35px;
	height: 100%
}


/*  Plans */

div.plans-container {
	background-color: aliceblue;
}

div.plans-container .row:first-child{
	margin: 0 auto;
	text-align: center;
	width: 100%;
	max-width: 40em;
	padding: 7em 0em 3em 0em;
	background-color: aliceblue;
}
/* div.plans-container .row:nth-child(2){
	margin:0 2em;
}
*/
.capitalize {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	color: #25365d;
	font-size: 2.5em;
}

/*  Contact */

div.contact-info {
  margin:  0 auto; /* es para centrar */
  text-align: center;
  background-color: aliceblue;
  padding: 3em 0;
}

div.contact-info h3 {
	margin: 1em 0;
}

div.contact-items h5 {
	margin: 0.75em 0;
}

div.contact-items h5{
  width: 13em;
  display: inline-block;
}


/*  download template */

div.download-template {
	text-align: center;
	margin: 0 auto;
	width: 100%;
	max-width: 45em;
	padding: 3em;
}


div.footer-img {
	margin: 0 auto;
	width: 100%;
	height:20em;
	background: linear-gradient(rgba(255, 255, 255, 1.00), rgba(255, 255, 255, 0.00)), rgba(255,255,255,0.95) url(../img/mountains-footer.jpg) no-repeat center;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

}



